
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#dark {
  --clr-bg: #1E1E2E;
  --clr-primary: #B4BEFE;
  --clr-secondary: #EFF1F5;
}

#light {
  --clr-bg: #EFF1F5;
  --clr-primary: #1E66F5;
  --clr-secondary: #0F0F0F;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  place-content: center;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
  background-color: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1.25rem 0 1.25rem;
}

.toggle {
  align-self: flex-end;
}

.title {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--clr-primary);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-title {
  font-size: 1.25rem;
  text-align: center;
  color: var(--clr-secondary);
  margin-top: 1.5rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 16px 8px;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--clr-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--clr-bg);
  margin-top: 2rem;
}

.random-fact {
  text-align: center;
  font-size: 1rem;
  color: var(--clr-secondary);
  margin-top: 1.5rem;
}

.cat-image {
  width: 200px;
  aspect-ratio: 1/1;
  margin: 2rem 0 ;
  border-radius: 8px;
}
